<!--
  Generated template for the CustomeCardList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="maincolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;margin-right: 55px;">Cartes enregistrées</ion-title>
  </ion-navbar>
</ion-header>




<!-- <ion-content   style="background-color: rgba(0, 0, 0, 0.7);">
     <div >
            <ion-card >
                <form  #paymentForm="ngForm" novalidate >
                <ion-list>
                    <ion-item ion-item class="paymentItem secondItem">
                        <ion-input id="cardNumber"  class="form-control" placeholder="Card Number" name="cardNumber" type="text" minlength="15" maxlength="16"  [(ngModel)]='PaymentDetails.number' #cardNumber="ngModel" required (keyup)="cardCheck(PaymentDetails.number)" >
                            
                        </ion-input>
                        <div style="margin-top: 50px">
                            scdsds    
                        </div>
                        <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                 class="alert alert-danger">
                            <div *ngIf="cardNumber.errors.required">
                                cardNumber is required.
                            </div>
                            <div *ngIf="cardNumber.errors.minlength">
                                  cardNumber must be at least 15 characters long.
                            </div>
                            <div *ngIf="cardNumber.errors.maxlength">
                                  cardNumber cannot be more than 16 characters .
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="paymentItem thirdItem">
                        <ion-icon  item-start class="paymentIcon"><img src="./img/clndr.png"></ion-icon>
                        <ion-input placeholder="MM/YY" name="expireDate" type="text" minlength="5" maxlength="5" [(ngModel)]='PaymentDetails.expireDate' #expireDate="ngModel" required (keyup)="dateCheck(PaymentDetails.expireDate)"></ion-input>
                        <ion-icon   item-end class="paymentIcon"><img [hidden]="(!expireDate.touched || expireDate.valid ) && !dateError" src="./img/error.png"><img *ngIf="expireDate.touched && expireDate.valid &&  !dateError" src="./img/check-mark.png"></ion-icon>
                    </ion-item>
                    <ion-item class="paymentItem thirdItem">
                        <ion-icon  item-start class="paymentIcon"><img src="./img/padlock.png"></ion-icon>
                        <ion-input placeholder="CVV"  name="CVC" type="text" maxlength="4" minlength="3" [(ngModel)]='PaymentDetails.cvc' #CVC="ngModel" required></ion-input>
                        <ion-icon   item-end class="paymentIcon"><img [hidden]="!CVC.touched || CVC.valid" src="./img/error.png"><img *ngIf="CVC.touched && CVC.valid" src="./img/check-mark.png"></ion-icon>
                    </ion-item>
                    <div class="buttondiv">
                        <button style="width: 80%" ion-button color="payButtonFirst" type="submit" (click)="onSaveCard()" >
                       		save card details
                        </button>
                      
                    </div>
                </ion-list>
                </form>
                <ion-list>
                    <div class="buttondiv" >
                        <button style="width: 80%"  ion-button color="payButtonSecond">
                       		Cancel
                        </button>
                    </div>
                </ion-list>
            </ion-card>
        </div>
</ion-content> -->

<ion-content  style="background-color:#fff;">
<ion-list *ngFor="let card of CardData">
	<ion-item>
    <ion-label *ngIf="card.card_number && card.card_number!=null"><ion-icon name="card" style="font-size:20px;color:#1B4079;"></ion-icon> {{formatCard(card.card_number)}} 	<ion-icon style="color:#8DA600; margin-left:80px; font-size:2.5rem" *ngIf="card.card_status" name="checkmark-circle"></ion-icon> <ion-icon name="more" *ngIf="!card.card_status" (click)="presentPopover($event, card)" style="float:right"></ion-icon></ion-label>
	</ion-item>  
  
</ion-list>


		<button round ion-button color="orange_color" style="width: 70%;margin-left: 51px;" (click)="onAddCard()" >
		<ion-label style="margin-left: 10px;" >Ajouter une carte</ion-label>
		</button>
		
		<!--div style="text-align:left;color: #222">
			<p color="maincolor" style="font-size: 1.7rem;">When do i get billed?</p>
			<p style="font-size: 1.4rem;">When you book your OOLAGA, a hold is placed on your credit card for the full amount of the OOLAGA. Once your OOLAGA is completed, we charge the card for the total amount. In the event that your cancel your OOLAGA with more than 24 hours notice, your hold is released. If you cancel with less than 24 notice, a 20% cancellation fee is applied.</p>

			<p color="maincolor" style="font-size: 1.7rem;">Can I cancel w/o being charged?</p>
			<p style="font-size: 1.4rem;margin:0;">Yes, if your OOLAGA has not been scheduled, you can cancel at any time.</p>
		</div-->



</ion-content>
