<ion-header>
  <ion-navbar >
    <ion-title color="maincolor" style="color:#1B4079;text-align: center;margin-right: 55px;font-weight: 600;">
      <span style="color:#fff">Feedback</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center;background: #f7f7f7">
   		  <div>
   		    <ion-item no-lines style="background: transparent;">
	   		  	<ion-avatar item-center>
              <img *ngIf="image=='img/man.png'" [src]="image" width="50px" height="50px">
	   		  		<img *ngIf="image!='img/man.png'" [src]="image" width="50px" height="50px">
	   		  	</ion-avatar>
	   		 </ion-item>
   		  </div>
   		  <div class="name" *ngIf='helper_name'>{{helper_name}}</div>
        <ion-label color="maincolor">Has Successfully delivered your Oolaga</ion-label>
        <ion-label style="color:#999">Rate your experience with no of stars</ion-label>
   		  <div class="spacer" style="width: 100%; height: 15px;"></div>
        <table style="width: 100%;">
          <tr style="width: 100%">
            <td style="padding-bottom:10px;padding-left: 10%;text-align: left;width: 50%;">Punctuality</td>
            <td style="padding-bottom:10px;width: 50%">
              <ion-icon (click)="star1=1" *ngIf="star1 < 1 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star1=1" *ngIf="star1 >= 1 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star1=2" *ngIf="star1 < 2 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star1=2" *ngIf="star1 >= 2 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star1=3" *ngIf="star1 < 3 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star1=3" *ngIf="star1 >= 3 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star1=4" *ngIf="star1 < 4 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star1=4" *ngIf="star1 >= 4 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star1=5" *ngIf="star1 < 5 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star1=5" *ngIf="star1 >= 5 " name="ios-star" class="star-size"></ion-icon>
            </td>
          </tr>
          <tr style="width: 100%">
            <td style="padding-bottom:10px;padding-left: 10%;text-align: left;width: 50%;">Friendliness</td>
            <td style="padding-bottom:10px;width: 50%">
              <ion-icon (click)="star2=1" *ngIf="star2 < 1 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star2=1" *ngIf="star2 >= 1 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star2=2" *ngIf="star2 < 2 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star2=2" *ngIf="star2 >= 2 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star2=3" *ngIf="star2 < 3 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star2=3" *ngIf="star2 >= 3 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star2=4" *ngIf="star2 < 4 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star2=4" *ngIf="star2 >= 4 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star2=5" *ngIf="star2 < 5 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star2=5" *ngIf="star2 >= 5 " name="ios-star" class="star-size"></ion-icon>
            </td>
          </tr>
          <tr style="width: 100%">
            <td style="padding-bottom:10px;padding-left: 10%;text-align: left;width: 50%;">Preparedness</td>
            <td style="padding-bottom:10px;width: 50%">
              <ion-icon (click)="star3=1" *ngIf="star3 < 1 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star3=1" *ngIf="star3 >= 1 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star3=2" *ngIf="star3 < 2 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star3=2" *ngIf="star3 >= 2 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star3=3" *ngIf="star3 < 3 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star3=3" *ngIf="star3 >= 3 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star3=4" *ngIf="star3 < 4 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star3=4" *ngIf="star3 >= 4 " name="ios-star" class="star-size"></ion-icon>
              <ion-icon (click)="star3=5" *ngIf="star3 < 5 " name="ios-star-outline" class="star-size"></ion-icon>
              <ion-icon (click)="star3=5" *ngIf="star3 >= 5 " name="ios-star" class="star-size"></ion-icon>
            </td>
          </tr>
        </table>
        <ion-label style="color:#1B4079;font-size:21px;font-weight:900" *ngIf="disabled!=1">Add a Tip</ion-label>
        <table  style="width: 100%;" *ngIf="disabled!=1">
          <tr style="width: 100%;">
            <td  class="feedback-table feedback-2 {{btn1}}" (click)="select(1,0)" >No Tip</td>

            <td  class="feedback-table feedback-2 {{btn2}}"   (click)="select(2,2)" >€2</td>

            <td  class="feedback-table feedback-2 {{btn3}}"   (click)="select(3,5)" >€5</td>

            <!-- <td #tip4 class="feedback-table feedback-2"  style="background-color: ,color:" (click)="select(tip4,tip1,tip2,tip3,tip5);set_tip(10)" [ngStyle]="{'color': buttonColor}">$10</td> -->
 
            <td  class="feedback-table2 feedback-2 {{btn4}}"   (click)="select(4,0)">

              <ion-input style="" [(ngModel)]="tip_value" (input)="set_tip(tip_value)" class="tip_input" placeholder="Enter" type="tel" min=3 [ngStyle]="{'color': buttonColor}"></ion-input>
			
		   </td>
          </tr>
		  
        </table>
		 <div class="spacer" style="width: 100%; height: 15px;" *ngIf="disabled!=1"></div>
		<div style="color:red;width: 100%;" *ngIf="disabled!=1 && no_tip==0">
		     <div>Payment gateway charge: €{{tax}}</div>
			 <div>Total Amount Due: €{{total}}</div>
	     </div>
   		  <div class="spacer" style="width: 100%; height: 15px;"></div>
   		  <button ion-button round style="background-color: #1B4079;width: 80%;font-weight: 600;" (click)="submit()">SUBMIT</button>
</ion-content>
