<ion-header>
  <ion-navbar color="maincolor">
    <ion-title style="text-align: center;margin-right:55px;">Récapitulatif</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="text-align:left;background-color: #f7f7f7;color:#1B4079" padding>
    <div *ngIf="data && data.service_id!=7">
      <div style="float: left;width: 100%;">
        <ion-label style="float:left;height:20px;width:50%;margin:0;color:#727272;font-size: 1.5rem;">
          Catégorie
        </ion-label>
        <ion-label style="float:right;text-align: right;height:20px;width:50%;margin:0;color:#727272;font-size: 1.5rem;">
          <span style="color: #1B4079;">Budget <span style="color: black;">{{formatAmount(data?.cost)}}</span></span>
        </ion-label>
      </div>
      <div style="position:relative;background-color:#f7f7f7;height: 45px;border: 1px solid rgba(0,0,0,0.1);float: left;width: 100%;">
          <div style="width: 18%;height: 100%;float: left;text-align: center;" >
            <div style="font-weight: 600;height:100%;position: relative;margin:0 auto;display: flex;background-color: #fff;border-right: 1px solid rgba(0,0,0,0.1)">
              <img src="http://18.188.229.2/oolaga/public/frontend/img/services/{{data?.service_image}}" style="align-self: center;height:80%;margin:0 auto;">
            </div>
          </div>
          <div style="background: #f7f7f7;width: 82%;height: 100%;float: right;padding: 13px 18px;">
            <ion-label style="font-weight: 600;width: 100%;color:#000000;margin:0;">
              <span>
                {{getServiceName(data?.service)}}
              </span>
            </ion-label>
          </div>
      </div>
      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="float:left;height:auto;width:50%;margin:0;color:#727272;font-size: 1.5rem;">Adresses</ion-label>
      <div style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;padding: 5px;">
        <div style="width: 100%;float: left;">
          <p no-margin style="color: #999999;float: left;">Adresse(s) de collection</p>
          <div style="float:left;width: 100%;padding-left: 15px" *ngFor="let location of locations ; let a = last ; let i = index ">
            <ion-label *ngIf!="a" no-margin style="float:left;width:100%;white-space:unset;color: #000000;font-weight: bold;font-size: 1.2rem;" >
              <span *ngIf="locations.length>2">{{i+1}}. </span>{{location.location_name}}
            </ion-label>
            <table style="margin-left:10px;font-size: 1rem;color: #555" >
                <tr *ngIf!="a && location.unit_nu">
                  <th style="text-align: left;vertical-align: top;">Complément d'adresse</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.unit_nu}}</td>
                </tr>
                <tr *ngIf!="a && location.stairs!='0' && location.elevator=='0' && location.inhome=='1'">
                  <th style="text-align: left;vertical-align: top;">Etage</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.stairs}}</td>
                </tr>
                <tr *ngIf!="a && location.parking_info">
                  <th style="text-align: left;vertical-align: top;">Information additionnelle</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;" [innerHTML]="location.parking_info|infoFilter"></td>
                </tr>
            </table>
            <!-- <ion-label *ngIf!="a && location.unit_nu" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;padding-left: 10px" no-margin><span style="font-weight: bold">Unit No:</span> {{location.unit_nu}}</ion-label>
            <ion-label *ngIf!="a && location.stairs!='0' && location.elevator=='0' && location.inhome=='1'" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;padding-left: 10px" no-margin><span style="font-weight: bold">Stairs:</span> {{location.stairs}}</ion-label>
            <ion-label *ngIf!="a && location.parking_info" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;padding-left: 10px" no-margin><span style="font-weight: bold">Additional Info:</span> {{location.parking_info}}</ion-label> -->

            <div *ngIf!="a && location.curbside=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Collection au Pas-de-porte</ion-label>
            </div>
            <div *ngIf!="a && location.inhome=='1' && location.elevator!='1'" style="width: 50%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Collection à l’intérieur sans ascenseu</ion-label>
            </div>
            <div *ngIf!="a && location.elevator=='1' && location.inhome=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Collection à l’intérieur avec ascenseur</ion-label>
            </div>
			<div *ngIf!="a && location.iwillbehelping=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Le Helper recevra de l'aide à cette adresse<br></ion-label>
            </div>
			<div *ngIf!="a && !location.iwillbehelping" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Le Helper ne recevra pas de l'aide à cette adresse<br></ion-label>
            </div>
          </div>
        </div>
        <div style="width: 100%;float: left;margin-top: 10px">
          <p no-margin style="color: #999999;float: left;">Adresse de livraison</p>
          <div style="float:left;width: 100%;padding-left: 15px" *ngFor="let location of locations ; let a = last ; let i = index ">
            <ion-label *ngIf="a" no-margin style="float:left;width:100%;white-space:unset;color: #000000;font-weight: bold;font-size: 1.2rem;" >
              {{location.location_name}}
            </ion-label>
            <table style="margin-left:10px;font-size: 1rem;color: #555" >
                <tr *ngIf="a && location.unit_nu">
                  <th style="text-align: left;vertical-align: top;">Complément d'adresse</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.unit_nu}}</td>
                </tr>
                <tr *ngIf="a && location.stairs!='0' && location.elevator=='0' && location.inhome=='1'">
                  <th style="text-align: left;vertical-align: top;">Etage</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.stairs}}</td>
                </tr>
                <tr *ngIf="a && location.parking_info">
                  <th style="text-align: left;vertical-align: top;">Information additionnelle</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;" [innerHTML]="location.parking_info|infoFilter"></td>
                </tr>
            </table>
            <!-- <ion-label *ngIf="a && location.unit_nu" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;font-weight: bold;padding-left: 10px" no-margin><span style="font-weight: bold">Unit No:</span> {{location.unit_nu}}</ion-label>
            <ion-label *ngIf="a && location.stairs!='0' && location.elevator=='0' && location.inhome=='1'" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;font-weight: bold;padding-left: 10px" no-margin><span style="font-weight: bold">Stairs:</span> {{location.stairs}}</ion-label>
            <ion-label *ngIf="a && location.parking_info" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;font-weight: bold;padding-left: 10px" no-margin><span style="font-weight: bold">Additional Info:</span> {{location.parking_info}}</ion-label> -->

            <div *ngIf="a && location.curbside=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 80%;">Livraison au Pas-de-porte</ion-label>
            </div>
            <div *ngIf="a && location.inhome=='1' && location.elevator!='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 80%;">Livraison à l’intérieur sans ascenseur</ion-label>
            </div>
            <div *ngIf="a && location.elevator=='1' && location.inhome=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 80%;">Livraison à l’intérieur avec présence d’un ascenseur</ion-label>
            </div>
			 <div *ngIf="a && location.iwillbehelping==1" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Le Helper recevra de l'aide à cette adresse</ion-label>
            </div>
			<div *ngIf="a && !location.iwillbehelping" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Le Helper ne recevra pas de l'aide à cette adresse</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 15px;width: 100%;float: left;"></div>
      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Objets</ion-label>

      <div *ngIf="data" style="position:relative;background-color:#f7f7f7;height: 45px;border: 1px solid rgba(0,0,0,0.1);">
          <div style="background: #999;width: 18%;height: 100%;float: left;text-align: center;" >
            <div style="font-weight: 600;height:100%;position: relative;margin:0 auto">
              <span style="color: #fff;font-size: 1.2em;position: absolute;top: 5px;left: 0;right: 0;">
              {{item_quantity}}</span>
              <span style="color: #fff;font-size: 0.8em;position: absolute;bottom: 5px;left: 0;right: 0;" *ngIf="item_quantity > 1">Objets</span>
              <span style="color: #fff;font-size: 0.8em;position: absolute;bottom: 5px;left: 0;right: 0;" *ngIf="item_quantity <= 1">Objet</span>
            </div>
          </div>
          <div style="background: #f7f7f7;width: 82%;height: 100%;float: right;padding: 13px 18px;">
            <ion-label style="font-weight: 600;width: 100%;color:#000000;margin:0;">
              <span *ngFor="let item of data.items;let a = last ;let i = index ">
                {{item.quantity}} {{item.item_name}}<span *ngIf="i+1!=data.items.length">, </span>
              </span>
            </ion-label>
          </div>
      </div>

      <div style="float:left;height: 15px;width: 100%;"></div>
      <ion-label style="height:20px;width:100%;margin:0;color:#727272;font-size: 1.5rem;">
        Description
      </ion-label>
      <div *ngIf="data.items" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;padding: 5px;">
        <div style="width: 100%;float: left;margin-bottom: 10px;">
             <div *ngFor="let item of data.items;let i = index " style="float:left;margin-top: unset;">
               <p *ngIf="selected_item!=i" (click)="selected_item=i" style="font-weight:bold;margin:0px 6px 3px 0;padding:5px 8px 2px;border-radius: 3px;float:left;background: #eee;border: 1px solid #999;color:#999" >{{item.item_name}}</p>
               <p *ngIf="selected_item==i" (click)="selected_item=i" style="font-weight:bold;margin:0px 6px 3px 0;padding:5px 8px 2px;border-radius: 3px;float:left;background: #eee;border: 1px solid #333;color:#333" >{{item.item_name}}</p>
             </div>
        </div>
        <table>
           <tr style="margin-left:10px;font-size: 1rem;color: #555" >
             <th class="table_data" style="text-align: left;">Quantité</th>
             <th class="table_data" style="padding: 0 5px;">:</th>
             <td class="table_data" >{{data.items[selected_item].quantity}}</td>
           </tr>
           <tr *ngIf="data.items[selected_item].information!=null && data.items[selected_item].information!=''">
             <th class="table_data" style="text-align: left;">Détails</th>
             <th class="table_data" style="padding: 0 5px;">:</th>
             <td class="table_data" >{{data.items[selected_item].information}}</td>
           </tr>
          <!--  <tr *ngIf="oolaga.way_point1!=null">
             <th class="table_data" style="text-align: left;">Pickup Location</th>
             <th class="table_data" style="padding: 0 5px;">:</th>
             <td class="table_data" *ngIf="oolaga.oolaga_item[selected_item].src_item_loc==oolaga.source.id">{{oolaga.source.location_name}}</td>
             <td class="table_data" *ngIf="oolaga.oolaga_item[selected_item].src_item_loc==oolaga.way_point1.id">{{oolaga.way_point1.location_name}}</td>
             <td class="table_data" *ngIf="oolaga.way_point2!=null && oolaga.oolaga_item[selected_item].src_item_loc==oolaga.way_point2.id">{{oolaga.way_point2.location_name}}</td>
           </tr> -->
         </table>
        <div style="width: 100%;">
          <span (click)="openPic(data.items[selected_item].image.split(',')[0])" *ngIf="data.items[selected_item].image.split(',')[0] && data.items[selected_item].image.split(',')[0]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my" src="{{my}}/public/frontend/img/addImage/{{data.items[selected_item].image.split(',')[0]}}">
          </span>
          <span (click)="openPic(data.items[selected_item].image.split(',')[1])" *ngIf="data.items[selected_item].image.split(',')[1] && data.items[selected_item].image.split(',')[1]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my" src="{{my}}/public/frontend/img/addImage/{{data.items[selected_item].image.split(',')[1]}}">
          </span>
          <span (click)="openPic(data.items[selected_item].image.split(',')[2])" *ngIf="data.items[selected_item].image.split(',')[2] && data.items[selected_item].image.split(',')[2]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my" src="{{my}}/public/frontend/img/addImage/{{data.items[selected_item].image.split(',')[2]}}">
          </span>
          <span (click)="openPic(data.items[selected_item].image.split(',')[3])" *ngIf="data.items[selected_item].image.split(',')[3] && data.items[selected_item].image.split(',')[3]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my" src="{{my}}/public/frontend/img/addImage/{{data.items[selected_item].image.split(',')[3]}}">
          </span>
          <span *ngIf="data.items[selected_item].image.split(',').length==4 && data.items[selected_item].image.split(',')[3]=='no_image.jpg' && data.items[selected_item].image.split(',')[0]=='no_image.jpg' && data.items[selected_item].image.split(',')[1]=='no_image.jpg' && data.items[selected_item].image.split(',')[2]=='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my" src="{{my}}/public/frontend/img/addImage/{{data.items[selected_item].image.split(',')[1]}}">
          </span>
        </div>
      </div>

      <div style="height: 15px;width: 100%;float: left;"></div>
      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Date et Heure</ion-label>
      
      <div *ngIf="data" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding margin-bottom>
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{formatDate(data.date)}}</div>
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">
        <span>{{formatTime(data.first_time)}}</span>
        </div> 
      </div>
    </div>
    <div *ngIf="data && data.service_id==7 ">

      <ion-label style="float:left;height:auto;width:50%;margin:0;color:#727272;font-size: 1.5rem;">Catégorie</ion-label>
      <ion-label style="text-align:right;float:right;height:auto;width:50%;margin:0;color:#727272;font-size: 1.5rem; ">Budget <span color="maincolor">{{data.cost}}€</span></ion-label>

      <div style="position:relative;background-color:transparent;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;">
        <div style="width: 100%;float: left;">
          <div style="height:45px;float:left;width: 70px;border:1px solid rgba(0,0,0,0.1);background-color: #fff;">
            <img style="width: 40px;margin:1px 10px;" src="http://18.188.229.2/oolaga/public/frontend/img/services/{{data.service_image}}">
          </div>
          <div  style="height:45px;float:left;width: calc(100% - 140px);" padding>
            <div style="font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{getString(data.service)}}</div>
          </div>
          <div style="padding:16px 10px;height:45px;float:left;width:70px;border:1px solid rgba(0,0,0,0.1);background: rgba(0,0,0,0.1);">
            <div style="font-size: 1rem;font-weight: bold;float: left;color: #000000;position: relative;">{{data.laborHours}}<div style="position: absolute;top: -10px;left: 0px;font-size: 0.7rem;">Pour:</div></div>
          </div>
        </div>
      </div>
      
      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Adresse du projet</ion-label>
      <div style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        <div style="width: 100%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{data.src_location_name}}</div>
      </div> 

      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Détails</ion-label>
      <div style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        <div style="width: 100%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{data.info}}</div>
      </div> 

      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Date et Heure</ion-label>
      
      <div style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{formatDate(data.date)}}</div>
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">
        <span>{{formatTime(data.first_time)}}</span>
        <span *ngIf="data.last_time && data.last_time!='Sélectionnez un horaire'"> - {{formatTime(data.last_time)}}</span><!-- {{appProvider.current.time.substring(0,8) | timemomentformat:'h:mm a'}} - {{appProvider.current.time.substring(9,18) | timemomentformat:'h:mm a'}} --></div>
      </div>
    </div> 
    <button *ngIf="data && data?.payment_status==0" ion-button color="orange_color" round style="width: 250px;margin-left: calc(50% - 125px);margin-bottom: 50px;" (click)="pay()">PROCEED TO PAYMENT</button>
    <button *ngIf="data && data?.payment_status==1 && rating==0" ion-button color="orange_color" round style="width: 250px;margin-left: calc(50% - 125px);margin-bottom: 50px;" (click)="feedback()" >LAISSEZ UNE ÉVALUATION</button>
	<button *ngIf="data && data?.payment_status==1 && rating > 0" ion-button  round style="width: 250px;margin-left: calc(50% - 125px);margin-bottom: 50px;background-color:gray" disabled >LAISSEZ UNE ÉVALUATION</button>

</ion-content>