page-payment {

.select-term{
	width: 100%;
	float: left;
	}
	.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: white;
}
}
