<ion-header>
  <ion-navbar color="maincolor">
    <ion-title *ngIf="editenable" style="text-align: center">Récapitulatif</ion-title>
    <ion-title *ngIf!="editenable" style="text-align: center">Modifier</ion-title>
    <ion-buttons end>

      <button *ngIf!="editenable" ion-button (click)="help()" style="min-width: 44px;text-transform: none;">
        Aide
      </button>
    
      <button *ngIf="editenable" ion-button (click)="edit()" style="min-width: 44px;text-transform: none;">
        Modifier
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content style="text-align:left;background-color: #f7f7f7;color:#1B4079" padding>
    <div *ngIf="appProvider.current.service_id!=7">

      <div style="float: left;width: 100%;">
        <ion-label style="float:left;height:20px;width:50%;margin:0;color:#727272;font-size: 1.5rem;">
          Catégorie
          <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon>
        </ion-label>
        <ion-label (click)="editPrice()" style="float:right;text-align: right;height:20px;width:50%;margin:0;color:#727272;font-size: 1.5rem;">
          <span style="color: #1B4079;">Budget <span style="color: black;">{{appProvider.current.max_price}}€</span></span>
          <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon>
        </ion-label>
      </div>
      <div (click)="editCategory()" style="position:relative;background-color:#f7f7f7;height: 45px;border: 1px solid rgba(0,0,0,0.1);float: left;width: 100%;">
          <div style="width: 18%;height: 100%;float: left;text-align: center;" >
            <div style="font-weight: 600;height:100%;position: relative;margin:0 auto;display: flex;background-color: #fff;border-right: 1px solid rgba(0,0,0,0.1)">
              <img src="http://18.188.229.2/oolaga/public/frontend/img/services/{{appProvider.current.service_image}}" style="align-self: center;height:80%;margin:0 auto;">
            </div>
          </div>
          <div style="background: #f7f7f7;width: 82%;height: 100%;float: right;padding: 13px 18px;">
            <ion-label style="font-weight: 600;width: 100%;color:#000000;margin:0;">
              <span [innerHtml]="service_name">
                
              </span>
            </ion-label>
          </div>
      </div>


      <div style="height: 15px;width: 100%;float: left;"></div>
      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">
        Adresses 
        <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon>
      </ion-label>
      <div (click)="editLocation()" *ngIf="appProvider.current.locations" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;padding:5px">
        <div style="width: 100%;float: left;">
          <p no-margin style="color: #999999;float: left;">Adresse(s) de collection</p>
          <div style="float:left;width: 100%;padding-left: 15px" *ngFor="let location of appProvider.current.locations ; let a = last ; let i = index ">
            <ion-label *ngIf!="a" no-margin style="float:left;width:100%;white-space: unset;color: #000000;font-weight: bold;font-size: 1.2rem;"><span *ngIf="appProvider.current.locations.length>2">{{i+1}}. </span>{{location.location_name}}</ion-label>
            <table style="margin-left:10px;font-size: 1rem;color: #555" >
                <tr *ngIf!="a && location.unit_nu">
                  <th style="text-align: left;vertical-align: top;">Complément d'adresse</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.unit_nu}}</td>
                </tr>
                <tr *ngIf!="a && location.inhome=='1'">
                  <th style="text-align: left;vertical-align: top;">Etage</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.stairs}}</td>
                </tr>
                <tr *ngIf!="a && location.parking_info">
                  <th style="text-align: left;vertical-align: top;">Information additionnelle</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;" [innerHTML]="location.parking_info|infoFilter"></td>
                </tr>
            </table>
            <!-- <ion-label *ngIf!="a && location.unit_nu" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;padding-left: 10px" no-margin><span style="font-weight: bold">Unit No:</span> {{location.unit_nu}}</ion-label>
            <ion-label *ngIf!="a && location.stairs!='0' && location.elevator=='0' && location.inhome=='1'" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;padding-left: 10px" no-margin><span style="font-weight: bold">Stairs:</span> {{location.stairs}}</ion-label>
            <ion-label *ngIf!="a && location.parking_info" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;padding-left: 10px" no-margin><span style="font-weight: bold">Additional Info:</span> {{location.parking_info}}</ion-label> -->

            <div *ngIf!="a && location.curbside=='1'" style="width: 50%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Collection au Pas-de-porte</ion-label>
            </div>
      <div *ngIf!="a && location.inhome=='1' && location.elevator!='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Collection à l’intérieur sans ascenseu</ion-label>
            </div>
      <div *ngIf!="a && location.elevator=='1' && location.inhome=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Collection à l’intérieur avec ascenseur</ion-label>
            </div>
       <div *ngIf!="a && location.iwillbehelping=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Le Helper recevra de l'aide à cette adresse</ion-label>
            </div>
      <div *ngIf!="a && !location.iwillbehelping" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;padding-left: 12px;">Le Helper ne recevra pas de l'aide à cette adresse</ion-label>
            </div>
            
            
          </div>
        </div>
        <div style="width: 100%;float: left;margin-top: 10px">
          <p no-margin style="color: #999999;float: left;">Adresse de livraison</p>
          <div style="width: 100%;padding-left: 15px;float: left;" *ngFor="let location of appProvider.current.locations ; let a = last ; let i = index ">
            <ion-label *ngIf="a" no-margin style="float:left;width:100%;color: #000000;font-weight: bold;font-size: 1.2rem;">
            {{location.location_name}}</ion-label>
            <table style="margin-left:10px;font-size: 1rem;color: #555" >
                <tr *ngIf="a && location.unit_nu">
                  <th style="text-align: left;vertical-align: top;">Complément d'adresse</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.unit_nu}}</td>
                </tr>
                <tr *ngIf="a && location.inhome=='1'">
                  <th style="text-align: left;vertical-align: top;">Etage</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;">{{location.stairs}}</td>
                </tr>
                <tr *ngIf="a && location.parking_info">
                  <th style="text-align: left;vertical-align: top;">Information additionnelle</th>
                  <td style="padding: 0 5px;vertical-align: top;">:</td>
                  <td style="vertical-align: top;" [innerHTML]="location.parking_info|infoFilter"></td>
                </tr>
            </table>
            <!-- <ion-label *ngIf="a && location.unit_nu" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;font-weight: bold;padding-left: 10px" no-margin><span style="font-weight: bold">Unit No:</span> {{location.unit_nu}}</ion-label>
            <ion-label *ngIf="a && location.stairs!='0' && location.elevator=='0' && location.inhome=='1'" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;font-weight: bold;padding-left: 10px" no-margin><span style="font-weight: bold">Stairs:</span> {{location.stairs}}</ion-label>
            <ion-label *ngIf="a && location.parking_info" style="float:left;width:100%;white-space: unset;color:#555555;font-size: 0.9rem;font-weight: bold;padding-left: 10px" no-margin><span style="font-weight: bold">Additional Info:</span> {{location.parking_info}}</ion-label> -->

            <div *ngIf="a && location.curbside=='1'" style="width: 50%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Livraison au Pas-de-porte</ion-label>
            </div> 
      <div *ngIf="a && location.inhome=='1' && location.elevator!='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Livraison à l’intérieur sans ascenseur</ion-label>
            </div>
            <div *ngIf="a && location.elevator=='1' && location.inhome=='1'" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Livraison à l’intérieur avec présence d’un ascenseur</ion-label>
            </div>
      <div *ngIf="a && location.iwillbehelping==1" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Le Helper recevra de l'aide à cette adresse</ion-label>
            </div>
      <div *ngIf="a && !location.iwillbehelping" style="width: 100%;float: left;">
              <ion-label no-margin style="color: #A3A6A9;font-size: 1rem;margin-left: 12px;width: 100%;">Le Helper ne recevra pas de l'aide à cette adresse</ion-label>
            </div>
            
          </div>
        </div>
      </div>
      <!-- <ion-label style="float:left;height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Locations <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      <div (click)="editLocation()" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        
        <div style="width: 50%;float: left;">
          <p no-margin style="color: #999999">Pickup</p>
          <div *ngFor="let location of locations ; let a = last ; let i = index ">
            <ion-label *ngIf!="a" no-margin style="color: #000000;font-weight: bold;font-size: 1.2rem;"><span *ngIf="locations.length!=2">{{i+1}}. </span>{{location.location_name.split(',')[0]}}</ion-label>
          </div>
        </div>
        <div style="width: 50%;float: left;">
          <p no-margin style="color: #999999">Drop-off</p>
          <div *ngFor="let location of locations ; let a = last ; let i = index ">
            <ion-label *ngIf="a" no-margin style="color: #000000;font-weight: bold;font-size: 1.2rem;">{{location.location_name.split(',')[0]}}</ion-label>
          </div>
        </div>
      </div> -->

      <div style="height: 15px;width: 100%;float: left;"></div>
      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">
        Objets 
        <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon>
      </ion-label>

      <div (click)="editItems()" style="position:relative;background-color:#f7f7f7;height: 45px;border: 1px solid rgba(0,0,0,0.1);">
          <div style="background: #999;width: 18%;height: 100%;float: left;text-align: center;" >
            <div style="font-weight: 600;height:100%;position: relative;margin:0 auto">
              <span style="color: #fff;font-size: 1.2em;position: absolute;top: 5px;left: 0;right: 0;">
              {{item_quantity}}</span>
              <span style="color: #fff;font-size: 0.8em;position: absolute;bottom: 5px;left: 0;right: 0;" *ngIf="item_quantity > 1">objets</span>
              <span style="color: #fff;font-size: 0.8em;position: absolute;bottom: 5px;left: 0;right: 0;" *ngIf="item_quantity <= 1">objet</span>
            </div>
          </div>
          <div style="background: #f7f7f7;width: 82%;height: 100%;float: right;padding: 13px 18px;">
            <ion-label style="font-weight: 600;width: 100%;color:#000000;margin:0;">
              <span *ngFor="let item of items;let a = last ;let i = index ">
                {{item.quantity}} {{item.item_name}}<span *ngIf="i+1!=items.length">, </span>
              </span>
            </ion-label>
          </div>
      </div>
      <div style="height: 15px;width: 100%;float: left;"></div>
      
      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Description</ion-label>
      <div *ngIf="appProvider.current.items" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;padding: 5px;">
        <div style="width: 100%;float: left;margin-bottom: 10px;">
             <div *ngFor="let item of appProvider.current.items;let i = index " style="float:left;margin-top: unset;">
               <p *ngIf="selected_item!=i" (click)="selected_item=i" style="font-weight:bold;margin:0px 6px 3px 0;padding:5px 8px 2px;border-radius: 3px;float:left;background: #eee;border: 1px solid #999;color:#999" >{{item.item_name}}</p>
               <p *ngIf="selected_item==i" (click)="selected_item=i" style="font-weight:bold;margin:0px 6px 3px 0;padding:5px 8px 2px;border-radius: 3px;float:left;background: #eee;border: 1px solid #333;color:#333" >{{item.item_name}}</p>
             </div>
        </div>
        <table style="color: black; font-size: 1rem">
           <tr>
             <th class="table_data" style="text-align: left;">Quantité</th>
             <th class="table_data" style="padding: 0 5px;">:</th>
             <td class="table_data" >{{appProvider.current.items[selected_item].quantity}}</td>
           </tr>
           <tr *ngIf="appProvider.current.items[selected_item].information!=null && appProvider.current.items[selected_item].information!=''">
             <th class="table_data" style="text-align: left;">Détails</th>
             <th class="table_data" style="padding: 0 5px;">:</th>
             <td class="table_data" [innerHTML]="appProvider.current.items[selected_item].information|infoFilter"></td>
           </tr>
           <tr *ngIf="appProvider.current.locations.length>2">
             <th class="table_data" style="text-align: left;">Pickup Location</th>
             <th class="table_data" style="padding: 0 5px;">:</th>
             <td class="table_data" *ngIf="appProvider.current.items[selected_item].src_item_loc==appProvider.current.src_location">{{appProvider.current.locations[0].location_name}}</td>
             <td class="table_data" *ngIf="appProvider.current.items[selected_item].src_item_loc==appProvider.current.way_point1">{{appProvider.current.locations[1].location_name}}</td>
             <td class="table_data" *ngIf="appProvider.current.locations.length==4 && appProvider.current.items[selected_item].src_item_loc==appProvider.current.way_point2">{{appProvider.current.locations[2].location_name}}</td>
           </tr>
        </table>
        <div style="width: 100%;">
          <span (click)="openPic(appProvider.current.items[selected_item].pics[0])" *ngIf="appProvider.current.items[selected_item].pics[0] && appProvider.current.items[selected_item].pics[0]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[0].length > 50 " [src]="appProvider.current.items[selected_item].pics[0]">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[0].length < 50 " src="{{my}}/public/frontend/img/addImage/{{appProvider.current.items[selected_item].pics[0]}}">
          </span>
          <span (click)="openPic(appProvider.current.items[selected_item].pics[1])" *ngIf="appProvider.current.items[selected_item].pics[1] && appProvider.current.items[selected_item].pics[1]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[1].length > 50 " [src]="appProvider.current.items[selected_item].pics[1]">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[1].length < 50 " src="{{my}}/public/frontend/img/addImage/{{appProvider.current.items[selected_item].pics[1]}}">
          </span>
          <span (click)="openPic(appProvider.current.items[selected_item].pics[2])" *ngIf="appProvider.current.items[selected_item].pics[2] && appProvider.current.items[selected_item].pics[2]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[2].length > 50 " [src]="appProvider.current.items[selected_item].pics[2]">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[2].length < 50 " src="{{my}}/public/frontend/img/addImage/{{appProvider.current.items[selected_item].pics[2]}}">
          </span>
          <span (click)="openPic(appProvider.current.items[selected_item].pics[3])" *ngIf="appProvider.current.items[selected_item].pics[3] && appProvider.current.items[selected_item].pics[3]!='no_image.jpg'">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[3].length > 50 " [src]="appProvider.current.items[selected_item].pics[3]">
             <img style="width: 20vw;height: 20vw" *ngIf="my && appProvider.current.items[selected_item].pics[3].length < 50 " src="{{my}}/public/frontend/img/addImage/{{appProvider.current.items[selected_item].pics[3]}}">
          </span>
          <span *ngIf="appProvider.current.items[selected_item].pics[0]=='no_image.jpg' || appProvider.current.items[selected_item].pics.length==0">
             <img style="width: 20vw;height: 20vw" *ngIf="my" src="{{my}}/public/frontend/img/addImage/no_image.jpg" />
          </span>
        </div>
      </div>
      <!-- <div *ngIf="pics && pics.length > 0 " style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);padding:10px;float: left;">
        <div *ngFor="let pic of pics">
          <img [src]="pic" style="width: 24%;height: 50px;background-color: #999;float: left;margin-right: 1%;">
        </div>
      </div>
      <div *ngIf="pics && pics.length == 0 " style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);padding:10px;float: left;">
        <div *ngFor="let pic of pics">
          <img [src]="my+''+pic" style="width: 24%;height: 50px;background-color: #999;float: left;margin-right: 1%;">
        </div>
      </div> -->

      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Date et Heure <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      
      <div (click)="editDateTime()" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{formatDate(appProvider.current.date)}}</div>
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">
        <span>{{appProvider.current.first_time | timemomentformat:'h:mm a'}}</span>
        <span *ngIf="appProvider.current.last_time && appProvider.current.last_time!='SELECT A TIME'"> - {{appProvider.current.last_time | timemomentformat:'h:mm a'}}</span><!-- {{appProvider.current.time.substring(0,8) | timemomentformat:'h:mm a'}} - {{appProvider.current.time.substring(9,18) | timemomentformat:'h:mm a'}} --></div>
      </div> 

      <!-- <div style="height: 15px;width: 100%;float: left;"></div>
      
      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Helper</ion-label>
      
      <div (click)="editHelper()" style="position:relative;display:flex;float:left;padding:10px;background-color:rgba(0,0,0,0.03);width:100%;border: 1px solid rgba(0,0,0,0.1);">
        <ion-icon *ngIf!="editenable" name="create" style="position: absolute;top: 0;right: 0;color: #999999;font-size: 1.5rem;"></ion-icon>
        <div style="border:1px solid rgba(0,0,0,0.3);float:left;background:#fff;width: 40px;height: 40px;display: flex;text-align: center;">
          <p style="align-self: center;margin: 0 auto;font-weight: bold;color: #000000;font-size: 2rem;">{{appProvider.current.helper_number}}</p>
        </div>
        <p no-margin style="margin-left: 20px;align-self: center;float: left;color:#000000;font-weight: bold;">{{appProvider.current.helper_no}}</p>
      </div> -->

    <!--<ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">pics</ion-label>
      
      <div style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);padding:10px;float: left;">
        <ion-icon (click)="editType()" *ngIf!="editenable" name="create" style="position: absolute;top: 0;right: 0;color: #999999;font-size: 1.5rem;"></ion-icon>
        <h3 color="maincolor" style="margin: 0 0 5px 0;">{{appProvider.current.oolagaType}}</h3>
        <p color="dark" no-margin style="font-weight: bold;font-size: 1.2rem;">{{appProvider.current.oolagaTypeDiscription}}</p> 
      </div>-->
        <!-- <div style="text-align:left;padding:15px 25px;background-color:#fff;border:1px solid #ddd">
            <div style="width:100%;font-weight:bolder;margin: 15px 0;">{{service_name}}</div>
            <ion-label style="height:15px;border-bottom:1px solid rgba(0,0,0,0.2);width:100%;margin:0px;color:#727272;font-size: 1rem;">Location</ion-label>
            <div style="float:left;width: 100%;margin: 15px 0;">
                <ion-label style="float:left;font-weight:bolder;max-width: 45%;margin:0;">
                        {{src_location_name}}
                </ion-label>
                <div style="width: 9%;text-align: center;float: left;">
                    <span>to</span>
                </div>
                <ion-label style="float:left;font-weight:bolder;max-width: 45%;margin:0;">
                        {{dst_location_name}}
                </ion-label>
            </div>
            <div style="float:left;width: 100%;margin: 15px 0;">
                <ion-label style="float:left;font-weight:bolder;max-width: 45%;margin:0;">
                        {{date}}
                </ion-label>
                <div style="height:10px;width: 9%;text-align: center;float: left;">
                </div>
                <ion-label style="float:left;font-weight:bolder;max-width: 45%;margin:0;">
                       {{time}}
                </ion-label>
            </div>
            <ion-label style="height:15px;border-bottom:1px solid rgba(0,0,0,0.2);width:100%;margin:0px;color:#727272;font-size: 1rem;">Item</ion-label>
            <ion-label style="width:100%;font-weight:bolder;margin: 15px 0;">
                <span *ngFor="let item of items;let a = last ;let i = index ">
                       {{item.quantity}} {{item.item_name}}<span *ngIf="i+1!=items.length">, </span>
                </span>
            </ion-label>
            <ion-label style="height:15px;border-bottom:1px solid rgba(0,0,0,0.2);width:100%;margin:0px;color:#727272;font-size: 1rem;">Helpers</ion-label>
            <ion-label style="width:100%;font-weight:bolder;margin: 15px 0;">{{helper}}</ion-label>
        </div> -->
      <div style="height: 15px;width: 100%;float: left;"></div>
        
    </div>
    <div *ngIf="appProvider.current.service_id==7">

      <ion-label style="float:left;height:auto;width:50%;margin:0;color:#727272;font-size: 1.5rem;">Catégorie<ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      <ion-label (click)="editPrice()" style="text-align:right;float:right;height:auto;width:50%;margin:0;color:#727272;font-size: 1.5rem; ">Budget <span color="maincolor">$ {{appProvider.current.max_price}}</span> <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>

      <div style="position:relative;background-color:transparent;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;">
        <div style="width: 100%;float: left;">
          <div (click)="editCategory()" style="height:45px;float:left;width: 70px;border:1px solid rgba(0,0,0,0.1);background-color: #fff;">
            <img style="width: 40px;margin:1px 10px;" src="http://18.188.229.2/oolaga/public/frontend/img/services/{{appProvider.current.service_image}}">
          </div>
          <div  (click)="editCategory()" style="height:45px;float:left;width: calc(100% - 140px);" padding>
            <div style="font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{appProvider.current.service_name}}</div>
          </div>
          <div (click)="editLaborData()" style="padding:16px 10px;height:45px;float:left;width:70px;border:1px solid rgba(0,0,0,0.1);background: rgba(0,0,0,0.1);">
            <div style="font-size: 1rem;font-weight: bold;float: left;color: #000000;position: relative;">{{appProvider.current.laborHours}}hrs<div style="position: absolute;top: -10px;left: 0px;font-size: 0.7rem;">Time</div></div>
          </div>
        </div>
      </div>
      
      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;"> Point de adresse<ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      <div (click)="editLaborData()" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        <div style="width: 100%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{appProvider.current.laborLocationName}}</div>
      </div> 
	  
	  <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Complément d'adresse<ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      <div (click)="editLaborData()" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        <div style="width: 100%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{appProvider.current.laborUnit_no}}</div>
      </div> 

      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Détails<ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      <div (click)="editLaborData()" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        <div style="width: 100%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{appProvider.current.laborInfo}}</div>
      </div> 

      <div style="height: 15px;width: 100%;float: left;"></div>

      <ion-label style="height:auto;width:100%;margin:0;color:#727272;font-size: 1.5rem;">Date et Heure <ion-icon *ngIf!="editenable" name="create" style="color: #999999;font-size: 1.5rem;"></ion-icon></ion-label>
      
      <div (click)="editDateTime()" style="position:relative;background-color:#f7f7f7;width:100%;border: 1px solid rgba(0,0,0,0.1);float: left;" padding>
        
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">{{appProvider.current.date|dateConvert}}</div>
        <div style="width: 50%;font-size: 1.2rem;font-weight: bold;float: left;color: #000000">
        <span>{{appProvider.current.first_time | timemomentformat:'h:mm a'}}</span>
        <span *ngIf="appProvider.current.last_time && appProvider.current.last_time!='SELECT A TIME'"> - {{appProvider.current.last_time | timemomentformat:'h:mm a'}}</span><!-- {{appProvider.current.time.substring(0,8) | timemomentformat:'h:mm a'}} - {{appProvider.current.time.substring(9,18) | timemomentformat:'h:mm a'}} --></div>
      </div>
    </div>
</ion-content>
<ion-footer style="background-color:#EAEAEA;border-top: 1px solid rgba(0,0,0,0.2);">
  <button text-left ion-button clear style="font-weight: 600;color:#555;text-align:left;float: left;" (click)="submit(0)">
   <ion-icon name="ios-arrow-back" style="margin-right: 10px;"></ion-icon> RETOUR
  </button>
  <button text-right ion-button clear style="font-weight: 600;color:#555;text-align: right;float: right;" (click)="submit(1)">
    SOUMETTRE <ion-icon name="ios-arrow-forward" style="margin-left: 10px;"></ion-icon>
  </button>
</ion-footer>