<ion-header >
  <ion-navbar color="maincolor">
    
    <ion-title style="text-align: center;">
      Ajouter une carte
    </ion-title>
    <ion-buttons end>
      <button color="light" ion-button icon-only (click)="deleteAll()" style="min-width: 44px;">
       <!--  <ion-icon name="ios-trash"></ion-icon>  -->
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>




<!-- <ion-content   style="background-color: rgba(0, 0, 0, 0.7);">
     <div >
            <ion-card >
                <form  #paymentForm="ngForm" novalidate >
                <ion-list>
                    <ion-item ion-item class="paymentItem secondItem">
                        <ion-input id="cardNumber"  class="form-control" placeholder="Card Number" name="cardNumber" type="text" minlength="15" maxlength="16"  [(ngModel)]='PaymentDetails.number' #cardNumber="ngModel" required (keyup)="cardCheck(PaymentDetails.number)" >
                            
                        </ion-input>
                        <div style="margin-top: 50px">
                            scdsds    
                        </div>
                        <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                 class="alert alert-danger">
                            <div *ngIf="cardNumber.errors.required">
                                cardNumber is required.
                            </div>
                            <div *ngIf="cardNumber.errors.minlength">
                                  cardNumber must be at least 15 characters long.
                            </div>
                            <div *ngIf="cardNumber.errors.maxlength">
                                  cardNumber cannot be more than 16 characters .
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="paymentItem thirdItem">
                        <ion-icon  item-start class="paymentIcon"><img src="./img/clndr.png"></ion-icon>
                        <ion-input placeholder="MM/YY" name="expireDate" type="text" minlength="5" maxlength="5" [(ngModel)]='PaymentDetails.expireDate' #expireDate="ngModel" required (keyup)="dateCheck(PaymentDetails.expireDate)"></ion-input>
                        <ion-icon   item-end class="paymentIcon"><img [hidden]="(!expireDate.touched || expireDate.valid ) && !dateError" src="./img/error.png"><img *ngIf="expireDate.touched && expireDate.valid &&  !dateError" src="./img/check-mark.png"></ion-icon>
                    </ion-item>
                    <ion-item class="paymentItem thirdItem">
                        <ion-icon  item-start class="paymentIcon"><img src="./img/padlock.png"></ion-icon>
                        <ion-input placeholder="CVV"  name="CVC" type="text" maxlength="4" minlength="3" [(ngModel)]='PaymentDetails.cvc' #CVC="ngModel" required></ion-input>
                        <ion-icon   item-end class="paymentIcon"><img [hidden]="!CVC.touched || CVC.valid" src="./img/error.png"><img *ngIf="CVC.touched && CVC.valid" src="./img/check-mark.png"></ion-icon>
                    </ion-item>
                    <div class="buttondiv">
                        <button style="width: 80%" ion-button color="payButtonFirst" type="submit" (click)="onSaveCard()" >
                       		save card details
                        </button>
                      
                    </div>
                </ion-list>
                </form>
                <ion-list>
                    <div class="buttondiv" >
                        <button style="width: 80%"  ion-button color="payButtonSecond">
                       		Cancel
                        </button>
                    </div>
                </ion-list>
            </ion-card>
        </div>
</ion-content> -->


<ion-content style="background-color:#F9F9F9;text-align: center; ">

  	    
  <div padding style="text-align: left;">
      <h2 style="color:#AFAFAF;margin-top:0px;font-size:1.3rem">Numéro de carte</h2>
      <div style="background-color: #ffffff;height: 44px;position:relative">
        <ion-input class="card-number" [(ngModel)]='PaymentDetails.number' (keyup)="cardCheck(PaymentDetails.number)"  style="padding-left:15px;color:#1B4079;" maxlength="16" placeholder="XXXXXXXXXXXX XXXX"> </ion-input>
		<ion-icon name="card" style="position:absolute;left:0;top:10px;font-size:20px;color:#1B4079;"></ion-icon>
      </div>
     <ion-row>
      <ion-col size="6">
	  <h2 style="color:#AFAFAF;margin-top:0px;font-size:1.3rem; width:50%;display:inline">Date d’expiration</h2>
      <div style="background-color: #ffffff;height: 44px;width:50%; display:inline;position:relative;">
        <ion-input class="profile" [(ngModel)]='PaymentDetails.expireDate' (keyup)="dateCheck(PaymentDetails.expireDate)" placeholder="MM/AA" style="width:50%;color:#1B4079;padding-right10px; color:#1B4079"> </ion-input>
		<!--ion-icon name="information-circle" style="position:absolute;right:0;top:28px;color:#1B4079"></ion-icon-->
      </div>
	  </ion-col>
      <ion-col size="6">
	 <h2 style="color:#AFAFAF;margin-top:0px;font-size:1.3rem; width:50%; display:inline">Cryptogramme (CVC)</h2>
      <div style="background-color: #ffffff;height: 44px;width:50%; display:inline;position:relative">
        <ion-input class="profile" [(ngModel)]='PaymentDetails.cvc' style="width:50%;color:#1B4079;padding-right:10px;color:#1B4079" placeholder="123"> </ion-input>
		<ion-icon name="information-circle" style="position:absolute;right:-139px;top:31px;color:#1B4079" (click)="showAlert()"></ion-icon>
      </div>
	  </ion-col>
	 </ion-row>
  </div>
   <div class="select-term">
            <ion-item>
                <ion-label>Enregistrer cette carte par défaut</ion-label>
                <ion-checkbox color="dark" checked="true" class="select-box-color" [(ngModel)]='PaymentDetails.status' ></ion-checkbox>
            </ion-item>
        </div>

      <ion-row>
        <ion-col class="colspace">
          <button ion-button style="height:4rem;margin-bottom: 5px; border-radius: 30px; padding-left: 10px;background-color:#1B4079;width: 90%;height: 42px;margin-top: 1px;box-shadow: none;" (click)="onSaveCard()" >ENREGISTRER MA CARTE</button>
        </ion-col>
      </ion-row>

</ion-content>