<ion-header>
  <ion-navbar color="maincolor">
    <ion-title>FAQ</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background: #f7f7f7;">
    <div *ngFor="let q of qus;let i=index " (click)="enable(i)" style="padding:5px 10px;font-size:bold;background:#fff;width: 100%;margin-bottom: 10px;">
    	<span color="maincolor" style="font-size: 1.6rem;">{{q.question}}</span><br>
        <div *ngIf="value==i" style="width: 100%;height: 10px;"></div>
        <span *ngIf="value==i" style="font-size: 1.3rem;">{{q.answer}}</span>
    </div>
</ion-content>
